@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

.nav {
    padding: 20px;
}
.nav-left {
    display: none;   
    font-size: 17px;
    padding-left: 4.4rem;
}

.nav-item {
    padding: 0px 10px;
    font-weight: bold;
    position: relative;
}

.nav-menu {
    display: none;
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    background: white;
    width: 70%;
    height: 100vh;
}

.mobile-nav-menu {
    width: 100%;
    display: relative;
    top: 40%;
    left: 50%;
}

.mobile-nav-item {
    margin: 1rem 0;
    font-size: 1.5rem;
    display: block;

}

.nav-item:hover:after,
.nav-item:active:after {
    content: '';
    position: absolute;
    padding-bottom: 1px;
    width: 7px;
    left: 50%;
    bottom: -3px;
    border-bottom: 1px solid orange;
}

.nav-item:hover {
    padding-bottom: 3px;
    color: orange;
}

header {
    margin-bottom: 3.1rem;
}

h2 {
    color: #7AD7F0;
}

h4, strong {
    color: #414141;
}

a {
    text-decoration: none;
    color: black;
}

i {
    color: orange;
}

.policy-details {
    width: 65%;
    padding: 0px 6.3rem;
}

.personal, 
.cookies,
.disclosure,
.data {
    list-style-type: none;
}

.personal-list:before,
.cookies-list:before,
.disclosure-list:before  {
    content: " - ";
}

.footer {
    position: relative;
    left: 0;
    right: 0;
    background: #DBF3FA;
    bottom: 0;
    margin-top: 9.4rem;
    padding: 3px 6.3rem;
}

footer {
    border-top: 1px solid white;
}

.links {
    width: 100%;
    
}

.link {
    display: block;
    font-weight: bold;
    color: #414141;
    padding: 4px;
}

.footer-content {
    margin-top: 1px solid white;
    height: 3.1rem;
    display:table;
    width:100%;
}

.copyright {
    text-align:left;
    display:table-cell;
    vertical-align:middle;    
    padding: 2%;
    font-size: 15px;
}

.icons {
    text-align:right; 
    display:table-cell;
    vertical-align:middle;    
    padding: 2%;
}

.icons > div {
    padding: 0px 3px;
}

.backdrop {
    position: fixed;
    display: none;
    opacity: 0;
    top: 0;
    left: 0;
    z-index: 100;   
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    -webkit-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}

.ig {
    display: inline-block;
}

.linkedin {
    display: inline-block;
}

img {
    background: #414141;
    border-radius: 50%;
    width: 35px;
}

.nav-toggle {
    width: 3rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
  }

@media (min-width: 54rem) {
    .nav-toggle {
      display: none;
    }

    .nav-left {
        display: inline-block;
      }
}

.toggle-button__bar {
    width: 100%;
    height: 0.2rem;
    background: black;
    display: block;
    margin: 0.6rem 0;
}

.open {
    display: inline-block;
    opacity: 1 !important;
    transform: translateY(0) !important;
}
